
body, form, img {
  margin:  0;
  padding: 0;
}

body {
  background-color: #ddd;
  font-family:      Helvetica, sans-serif;
  font-weight:      lighter;
  font-size:        100%;
}

a {
  text-decoration: none;
  border: 0;
}

a:hover {
  text-decoration: underline;
}

.clear {
  clear: both
}

#canvas {
  box-shadow:         2px 3px 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    2px 3px 3px 1px rgba(0, 0, 0, 0.3);

  background-color: #fff;
  background:       url(/images/bg.png) no-repeat bottom left #fff;
  width:            900px;
  margin:           0 auto;
  margin-bottom:    30px;
  margin-top:       -5px;
}

#header {
  height:        80px;
  padding:       20px 40px 0px 40px;
}

#body {
  padding:    20px 40px 0px 40px;
  background: url(/images/shadow.png) no-repeat 50% 0;
}

#slides {
  position: relative;
  top: -20px;
  left: -40px;
  box-shadow:         0px 3px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    0px 3px 8px 0px rgba(0, 0, 0, 0.4);
}

#footer {
  padding: 0px 40px 10px 40px;
  margin-top: 10px;
  font-size: 0.7em;
  text-align: center;
}

#logo {
  float:    left;
  position: relative;
  top:      -7px;
}

#nav {
  position: relative;
  top:      49px;
}

#nav ul {
  float:      right;
  list-style: none;
  padding:    0;
  margin:     0;
}

#nav li a {
  color:            #777;
  background-color: none;
  line-height:      2em;
  padding:          10px;
  padding-bottom:   15px;
  font-size:        1em;
  text-shadow:      0px 1px 0px #e5e5ee;
  font-weight:      lighter;
  text-transform:   lowercase;
}

#nav li a:hover, #nav li.selected a {
  color:            #fff;
  background-color: #000;
  line-height:      2em;
  text-shadow:      none;
  text-decoration:  none;
  font-weight:      lighter;
}

#nav li {
  float:      left;
  margin:     0;
  margin-top: -0.5em;
}

#nav img {
  float:       right;
  margin-left: 7px;
}

